version: "3.8"

services:

  nginx-proxy:
    image: jwilder/nginx-proxy:latest
    container_name: nginx-proxy
    restart: always
    labels:
      com.github.nginx-proxy.nginx-proxy.nginx: "true"
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx_certs:/etc/nginx/certs
      - nginx_vhost:/etc/nginx/vhost.d
      - nginx_html:/usr/share/nginx/html
    networks:
      - web

  sistema-voucher:
    build: .
    container_name: sistema-voucher
    restart: always
    expose:
      - "3000"
    environment:
      NODE_ENV: production
    labels:
      - "VIRTUAL_HOST=esperancanamesailheus.com,www.esperancanamesailheus.com"
      - "VIRTUAL_PORT=3000"
    volumes:
      - ./backend/database.sqlite:/app/backend/database.sqlite
      - ./pdfs:/app/backend/pdfs
    networks:
      - web

networks:
  web:
    driver: bridge

volumes:
  nginx_certs:
  nginx_vhost:
  nginx_html:
